.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 5rem;
  grid-gap: 20px;
}

.link {
  padding: 1.5rem;
  background: #f8f8f8;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
